################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EndToEndProject/EndToEndProject/EndToEndProject.csproj.user
